button.change-view{
    background: none;
    border: none;
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
    font-size: 12px;

}

#login,
#register{
    background-color: rgb(248, 246, 247);
}