<section id="travel-list" class="pt-4 pb-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" *ngFor="let travel of travels">
                <div class="card">
                    <div class="card-header">
                      {{travel.imagem_1}}
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p>Viage para: {{travel.local}}</p>
                        <p>Qtd: <span *ngIf="travel.vagas < 3" style="color: #ff0000">{{travel.vagas}}</span>  <span *ngIf="travel.vagas > 3" style="color: green">{{travel.vagas}}</span></p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                      </blockquote>

                      <div class="router-container d-flex align-center justify-content-center mt-2 mb-2" >
                        <div ><a class="btn btn-primary" [routerLink]="['travel', 'view', travel.id]">Saiba mais</a></div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>