<section id="travel-list" class="pt-5">
    <div class="container">
        <div class="row row-gap-4">
            <div class="col-lg-3" *ngFor="let travel of travels">
                <div class="card">
                    <div class="card--image">
                      <img src={{travel.imagem_1}} alt="">
                    </div>
                    <div class="card--body">
                      <div class="blockquote mb-0">
                        <p class="h5"><strong>{{travel.local}}</strong></p>
                        <p>A partir de </p>
                        <p class="h4"><strong>{{travel.imagem_2}}</strong></p>
                      </div>

                      <div class="router-container d-flex align-center justify-content-center mt-2 mb-2" >
                        <div ><a class="btn btn-light" [routerLink]="['travel', 'view', travel.id_viagem]">Saiba mais</a></div>
                      </div>
                    </div>
                  </div>
            </div>
          
        </div>

        <div class="row mt-5 mb-5">
          <div class="col-lg-12">
            <div class="separator d-flex align-center justify-content-center">
              <button class="btn">Ver todos os destinos</button>
            </div>
          </div>
        </div>
    </div>
</section>

<section id="connection" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="inner-container d-flex align-center">
          <p class="title h2">Traveller</p>
          <p>Conheça nossa plataforma de conteúdo sobre viagens</p>
          <button class="btn-conhecer">Quero conhecer!</button>
        </div>
      </div>
    </div>
  </div>
</section>
