<footer class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="box-info">
                    <div class="head">
                        <a class="navbar-brand" href="#" style="color: #fff"><span class="color-text-primary">T</span>ravel </a>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit ornare tellus, vitae sagittis sem. Nunc sed turpis tristique nisl gravida lobortis. In pharetra, orci in fringilla pretium, sapien odio venenatis mi, bibendum semper neque augue ut risus. Nullam non justo risus. Nam rutrum felis ut convallis interdum. In est nunc, semper vel tortor in, viverra pretium ligula. Nunc mattis tincidunt sem at faucibus. Vestibulum faucibus luctus lorem, eget tincidunt nunc molestie in. Aenean sagittis suscipit ligula id tincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box-categories"></div>
            </div>
            <div class="col-lg-4">
                <div class="box-contact">
                    <h2><i class="fa fa-info-circle"></i> Informações da Agência</h2> 
                    <p>Tel.: <span class="tsx_dados_telefoneDivulgacao_2 ">(11) 1111-1111 / 0800 111 1111</span> </p> 
                    <p>E-mail: <a class="tsx_dados_emailDivulgacao_2 ">reservas@travel.com.br</a> </p> 
                    <p> <span class="tsx_dados_razaoSocial_1 " >TRAVEL VIAGENS E TURISMO LTDA</span> </p> 
                    <p>CNPJ: <span class="tsx_dados_cnpj_1 " >00.000.000/0000-00</span> 
                </div>
            </div>
        </div>
    </div>
</footer>