footer{
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: .5rem 0;
}
footer .box-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer .box-info .head a{
    font-size: 33px;
}
footer .box-info .body p,
footer .box-contact p{
    font-size: 14px;
    text-align: justify;
    margin: 0;
}
footer .box-contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer .box-contact h2{
    font-size: 23px;
}
footer .box-contact p{
    margin-bottom: 10px;
}

#newsletter{
    background: linear-gradient(308.6deg, var(--color-primary) -7.94%,  var(--color-secondary) 79.38%);
    padding: 2rem 0;
}
#newsletter .inner-container{
    gap: 60px
}

#newsletter .inner-container .newsletter-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#newsletter .inner-container .newsletter-form p{
    font-size: 26px;
    color: #fff;
    margin: 0;
}
#newsletter .newsletter-form form{
    display: flex;
    align-items: center;
    gap: 10px;
}
#newsletter .newsletter-form form input{
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}

#newsletter .newsletter-form form button{
    background: none;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 10px 20px;
}