<div class="container-fluid bg-color-primary">
    <div class="row">
      <div class="topbar">
        <ul class="social-itens">
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#" style="color: #fff"><span class="color-text-primary">T</span>ravel <fa-icon [icon]="faPlane"></fa-icon></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- CATEGORIAS AQUI -->
        </ul>
  
        <div class="user-role">
          <ul>
            <li class="cart"><a href="#"><i class="fa-solid fa-cart-shopping"></i> <p class="qtd-itens">0</p></a></li>
            <li class="user"><a href="#"> <fa-icon [icon]="faCircleUser"></fa-icon> </a> <p>Bem-vindo, <br> <i>Usuário</i></p></li>
          </ul>
        </div>
  
      </div>
    </div>
  </nav>