<section id="travel-page" class="pt-4 pb-4">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6">
                <div class="inner-container">
                    <h2>Nome da viagem</h2>

                    <div class="travel-info">
                        <div class="box box--partida">
                            <div class="icon"><i class="fa-regular fa-circle"></i></div>
                            <p class="title">Partida</p>
                            <p><strong>Campinas, Vira os copo</strong></p>
                        </div>
                        <div class="box box--destino">
                            <div class="icon"><i class="fa-solid fa-location-dot"></i></div>
                            <p class="title">Destino</p>
                            <p><strong>Campinas, Vira os copo</strong></p>
                        </div>

                        <div class="dates">
                            <div class="box box-date-ida">
                                <p>Ida</p>
                                <p>sex, 17 de Jun. 12h</p>
                            </div>
                            <div class="box box-date-volta">
                                <p>Ida</p>
                                <p>sex, 17 de Jun. 12h</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <img src="https://placehold.co/600x400" alt="">
            </div>
        </div>
    </div>
</section>